<!DOCTYPE html>
<html>
	<style>
			p {
				text-align: justify;
			}
	</style>
	
  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

      <div class="container">
		<div class="site-info">
		<!-- <h2 class="info-heading">HegdeShot</h2> -->

			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
							<table width="100%"  cellspacing="0">
								<col width="92*"/>
								<col width="164*"/>
								<tr valign="top">
									<td width="36%" height="107" style="border: none" >
									<p>
										<iframe frameborder="0" src="https://itch.io/embed/2878493" width="208" height="167"></iframe>

										</p>
									</td>
									<td width="64%" style="border: none">
										<p>Game Designer</p>
										<p>Level Designer</p>
										<p>Sound Designer</p>
									</td>
								</tr>
							</table>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						
					</td>
					<td style="border: 1px solid #000000">
						<video autoplay loop muted>
						  <source src="/assets/movie.mp4" type="video/mp4" >
						</video>
					</td>
				</tr>
	
			</table>
  
		{{ content }}

		{% include info.html %}
		
        {% include footer.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
